  

    body,
    html {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }


svg {
    position: absolute; /* Позиционируем абсолютно относительно родительского элемента */
    width: 90%;
    height: 90%;
    top: 240px; /* Положение от верхней границы страницы */
    left: -350px; /* Положение от левой границы страницы */
    visibility: hidden;
              
}
 
    .sparkle {
        /* mix-blend-mode:luminosity */
        mix-blend-mode: luminosity;
    }
